include ./components/components.pug
doctype html
html(lang="ru")
  include ./modules/head.pug
  body
    .wrapper.load
      .container
        a(href="/").logo
          img(src="images/logo.svg", alt="logo icon")
        .content__inner
          .content.page.tab#about 
            .content__langs
              a(href="#" data-lang='ru').content__lang.lang ru
              a(href="#" data-lang='en').content__lang.lang.active en
            .line
            h1.content__title Outstanding Residences<br>in the Prime Area of Sochi
            .content__slider
              .content__slider-item
                .content__slider-text.ru
                  p The POINT&nbsp;&mdash; комплекс, состоящий из&nbsp;17&nbsp;резиденций и&nbsp;Grand Penthouse,&nbsp;&mdash; это воплощение традиций клубного отдыха Французской Ривьеры на&nbsp;Черноморском побережье. 
                  p Утончённая эстетика белоснежных фасадов в&nbsp;стиле Belle Époque, изысканные интерьеры, безукоризненные планировочные и&nbsp;технические решения, клубная инфраструктура с&nbsp;White Glove Service ставят The POINT на&nbsp;один уровень с&nbsp;жемчужинами Лазурного берега такими как Grand-Hôtel du&nbsp;Cap-Ferrat и&nbsp;Hôtel du&nbsp;Cap-Eden-Roc и&nbsp;делают его самым желанным и&nbsp;дорогим курортным клубным комплексом Ultra-luxury класса на&nbsp;сочинском побережье.
                .content__slider-text.en
                  p The POINT is&nbsp;a&nbsp;residential complex consisting of&nbsp;17&nbsp;residences and the Grand Penthouse. It&nbsp;is&nbsp;the high-end French Riviera vacation tradition come to&nbsp;life on&nbsp;the Black Sea coast.
                  p The sublime beauty of&nbsp;snow-white facades that follow the Belle &Eacute;poque style, the refined interiors, the impeccable layouts and engineering as&nbsp;well as&nbsp;club infrastructure with White Glove Service put The POINT on&nbsp;a&nbsp;par with such Cote d&rsquo;Azur vacation gems as&nbsp;the Grand-H&ocirc;tel du&nbsp;Cap-Ferrat and the Hôtel du&nbsp;Cap-Eden-Roc, making it&nbsp;the most desirable and upscale ultra-luxury resort club complex on&nbsp;the Sochi coast.
              .content__slider-item
                p.content__slider-title.ru Команда проекта
                p.content__slider-title.en Project team
                ul.content__slider-list
                  li Gregory Tuck Architecture
                  li Alfredo Paredes Studio
                  li Christopher Peacock
                  li Sub-Zero & Wolf
                  li Chesney’s
                  li AR Group
                  li Nedvex
                  li APD
            .content__tabs
              a(href="#gallery").content__tab.button.en GALLERY
              a(href="#gallery").content__tab.button.ru ГАЛЕРЕЯ
              a(href="#contact").content__tab.button.ru ЗАЯВКА
              a(href="#contact").content__tab.button.en INQUIRE
            p.content__copy 2022 © The Point. All Rights Reserved.<br>Project Statement at: <a href='https://наш.дом.рф/сервисы/каталог-новостроек/объект/46946' target='_blank'>https://наш.дом.рф</a><br>Computer generated images are indicative only.
        
        .gallery.page.tab#gallery.hidden
          .gallery__slider
            .gallery__slider-item
              img(src="images/gallery/1.jpg", alt="").gallery__image--lg
              img(src="images/gallery/1-sm.jpg", alt="").gallery__image--sm
            .gallery__slider-item
              img(src="images/gallery/2.jpg", alt="").gallery__image--lg
              img(src="images/gallery/2-sm.jpg", alt="").gallery__image--sm
            .gallery__slider-item
              img(src="images/gallery/3.jpg", alt="").gallery__image--lg
              img(src="images/gallery/3-sm.jpg", alt="").gallery__image--sm
            .gallery__slider-item
              img(src="images/gallery/4.jpg", alt="").gallery__image--lg
              img(src="images/gallery/4-sm.jpg", alt="").gallery__image--sm
            .gallery__slider-item
              img(src="images/gallery/5.jpg", alt="").gallery__image--lg
              img(src="images/gallery/5-sm.jpg", alt="").gallery__image--sm
            .gallery__slider-item
              img(src="images/gallery/6.jpg", alt="").gallery__image--lg
              img(src="images/gallery/6-sm.jpg", alt="").gallery__image--sm
            .gallery__slider-item
              img(src="images/gallery/7.jpg", alt="").gallery__image--lg
              img(src="images/gallery/7-sm.jpg", alt="").gallery__image--sm
            .gallery__slider-item
              img(src="images/gallery/8.jpg", alt="").gallery__image--lg
              img(src="images/gallery/8-sm.jpg", alt="").gallery__image--sm
            .gallery__slider-item
              img(src="images/gallery/9.jpg", alt="").gallery__image--lg
              img(src="images/gallery/9-sm.jpg", alt="").gallery__image--sm
            .gallery__slider-item
              img(src="images/gallery/10.jpg", alt="").gallery__image--lg
              img(src="images/gallery/10-sm.jpg", alt="").gallery__image--sm
          .content__tabs
            a(href="#about").content__tab.button.en ABOUT
            a(href="#about").content__tab.button.ru ОПИСАНИЕ
            a(href="#contact").content__tab.button.en INQUIRE
            a(href="#contact").content__tab.button.ru ЗАЯВКА
        .contact.tab#contact.hidden
          a(href="/").contact__logo
            img(src="images/logo.svg", alt="logo icon")
          .content__langs
            a(href="#" data-lang='ru').content__lang.lang ru
            a(href="#" data-lang='en').content__lang.lang.active en
          h2.contact__title.ru Посещение офиса продаж только по&nbsp;предварительной регистрации.<br>Чтобы мы&nbsp;могли предоставить вам детальную информацию, уточните для нас следующие данные:
          h2.contact__title.en SALES OFFICE BY&nbsp;APPOINTMENT ONLY.<br>FOR FURTHER INFORMATION, PLEASE, COMPLETE THE FOLLOWING:
          form.contact__form(action="send.php" autocomplete="off")
            .contact__form-inner
              .contact__form-box
                .contact__form-inputs.radio
                  input(type="text" placeholder='ИМЯ' name='name' required).contact__form-input.name
                  input(type="email" placeholder='E-MAIL' name='emial' required).contact__form-input
                  input(type="text" placeholder='МОБ.' name='phone' required).contact__form-input.phone
                .contact__form-radio.radio
                  p.radio__title.ru как вы узнали о нашем проекте?<br><span class='error'>REQUIRED</span>
                  p.radio__title.en HOW DID YOU HEAR ABOUT US?<br><span class='error'>REQUIRED</span>
                  .radio__box
                    label.radio__label(for="r1")
                      input(type="radio" id='r1' name='project' value='От брокера/агента по недвижимости').radio__input
                      span.radio__fake
                      p.radio__text.ru От брокера/агента по недвижимости
                      p.radio__text.en Real estate agent/broker
                    label.radio__label(for="r2")
                      input(type="radio"  id='r2' name='project' value='По рекомендации').radio__input
                      span.radio__fake
                      p.radio__text.ru По рекомендации
                      p.radio__text.en Refferal/world of mouth
                    label.radio__label(for="r3")
                      input(type="radio"  id='r3' name='project' value='От друзей').radio__input
                      span.radio__fake
                      p.radio__text.ru От друзей
                      p.radio__text.en Related inner circle
              .contact__form-box
                .contact__form-radio.radio
                  p.radio__title.ru размер квартиры, который вас интересует <br><span class='error'>REQUIRED</span>
                  p.radio__title.en DESIRE RESIDENCE SIZE<br><span class='error'>REQUIRED</span>
                  .radio__box
                    label.radio__label(for="r4")
                      input(type="radio" id='r4' name='size' value='3 спальни').radio__input
                      span.radio__fake
                      p.radio__text.ru 2 спальни
                      p.radio__text.en 2 BR
                    label.radio__label(for="r5")
                      input(type="radio" id='r5' name='size' value='3 спальни').radio__input
                      span.radio__fake
                      p.radio__text.ru 3 спальни
                      p.radio__text.en 3 BR
                    label.radio__label(for="r6")
                      input(type="radio" id='r6'  name='size' value='3 спальни').radio__input
                      span.radio__fake
                      p.radio__text.ru 4 спальни
                      p.radio__text.en 4 BR
                    label.radio__label(for="r7")
                      input(type="radio" id='r7' name='size' value='5 спален').radio__input
                      span.radio__fake
                      p.radio__text.ru 5 спален 
                      p.radio__text.en 5 BR
                .contact__form-radio.radio
                  p.radio__title.ru ценовая категория, в которой вы рассматриваете покупку <br><span class='error'>REQUIRED</span>
                  p.radio__title.en PRICE RANGE<br><span class='error'>REQUIRED</span>
                  .radio__box
                    label.radio__label(for="r8")
                      input(type="radio" id='r8'  name='price' value='2-2.5 млрд ₽').radio__input
                      span.radio__fake
                      p.radio__text.ru 2-2.5 млрд ₽
                      p.radio__text.en 2-2.5B ₽
                    label.radio__label(for="r9")
                      input(type="radio" id='r9' name='price' value='более 3.5 млрд ₽').radio__input
                      span.radio__fake
                      p.radio__text.ru более 2.5-3.5 млрд ₽
                      p.radio__text.en more than 2.5-3.5B ₽
                    label.radio__label(for="r10")
                      input(type="radio" id='r10' name='price' value='2.5-3.5 млрд ₽').radio__input
                      span.radio__fake
                      p.radio__text.ru от 3 млрд ₽
                      p.radio__text.en from 3B ₽
                .contact__form-radio.radio
                  p.radio__title.ru являетесь ли вы агентом недвижимости? <br><span class='error'>REQUIRED</span>
                  p.radio__title.en ARE YOU A REAL ESTATE AGENT?<br><span class='error'>REQUIRED</span>
                  .radio__box
                    label.radio__label(for="r11")
                      input(type="radio" id='r11'  name='agent' value='Да').radio__input
                      span.radio__fake
                      p.radio__text.ru Да
                      p.radio__text.en Yes
                    label.radio__label(for="r12")
                      input(type="radio" id='r12' name='agent' value='Нет').radio__input
                      span.radio__fake
                      p.radio__text.ru Нет
                      p.radio__text.en No
            p.contact__form-copy.ru Отправляя заявку, вы соглашаетесь с <a href='https://nedvex.ru/privacy' target="_blank">политикой конфиденциальности</a>
            p.contact__form-copy.en By submitting an application, you agree to the <a href='https://nedvex.ru/privacy' target="_blank">privacy policy</a>
            button(type='submit').contact__form-btn <span class='ru'>Отправить</span><span class='en'>Submit</span>
            p.contact__form-right.ru 2022 © The Point. Все права защищены.<br>Проектная декларация: <a href='https://наш.дом.рф/сервисы/каталог-новостроек/объект/46946' target="_blank">https://наш.дом.рф</a><br>3-д графика представлена исключительно для предварительного ознакомления.
            p.contact__form-right.en 2022 © The Point. All Rights Reserved.<br>Project Statement at: <a href='https://наш.дом.рф/сервисы/каталог-новостроек/объект/46946' target="_blank">https://наш.дом.рф</a><br>Computer generated images are indicative only.
      .thank
        .thank__inner
          a.thank__logo(href="index.html")
            img(src="images/logo.svg", alt="")
          h2.thank__title.ru Благодарим за интерес к проекту<br>THE POINT<br><span>Ваш запрос отправлен</span>
          h2.thank__title.en Thank you for your interest inу<br>THE POINT<br><span>Your request has been sent</span>
