head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  meta(name="description" content="Элитный желищный комплекс The Point, предлагает вашему вниманию 17 резиденций и 3 пентхауса премиум сегмента на берегу Чёрного моря в Сочи.")
  meta(name="keywords" content="The Point, Поинт, Премиум, Элитный, Жилищный комплекс, ЖК, резиденции, пентхаус")
  title The Point - элитный жилищный комплекс в Сочи, премиум ЖК, 17 резиденций и 3 пентхауса
  link(rel="shortcut icon", href="images/favicon.png", type="image/x-icon")
  link(rel="stylesheet" href="css/style.min.css")
  script(defer src='js/main.min.js')